body {
  padding-top: 65px;
  background-color: white;
}

.landing-header  {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
}

.landing-enter {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.landingImg {
  height: 100vh;
  width: 100vw;
}

.landing-container {
  text-align: center;
}