<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  <body>

      <!-- Page Content -->
      <main class="container">

      <div class="landing-container">
          <h1 class="landing-header">Welcome to TravelerZ </h1>
          <a href="/trips" class="landing-enter" >ENTER</a>
      </div>
      

      <img src="/img/TravelerZ-landing.png" class="img-fluid landingImg" alt="image" href="/trips">
      

      </main>
      <!-- /.container -->

      
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>